#theNav{

    padding-left:15px;
    font-family: 'Tilt Neon', sans-serif;
    border:1px double black;
    border-radius: 20px;
    box-shadow: lightblue 3px 3px 3px;

}


.naving{
    padding-left:25px;
    font-family: 'Tilt Neon', sans-serif;
    position:sticky;

}

.naving:hover{
    font-size: large;
    font-family: 'Tilt Neon', sans-serif;
}


#theHeader{
    text-align: center;
    font-family: 'Tilt Neon', sans-serif;
}



.headerText{
    font-family: 'Tilt Neon', sans-serif;
    font-size:xx-large;

    
}

#texthead{


    animation: rotatelife linear 4000ms infinite;



}

.headerText:hover{
    font-family:fantasy;
}

.carousel{
    padding:100px;

}

.carousel-item{
    height:650px;
    /* overflow:hidden; */
    object-fit: cover;


}

.carcontrolprev{
    left: 120px;
}

.carcontrolnex{
    right:80px;
}

.cari{
    object-position: top;

}


#logoimage{
    height:100px;


}



span{
    font-family: inherit;
}

body{
    padding:15px;
    font-family: inherit;
    box-sizing:border-box;
    width:100%;
}

#theProfileImage{
    border-radius: 10px;
    border:1px solid lightblue;
}
#theProfileImageContainer{
    width:30%;
    display:inline-block;
    padding-left: 30px;
}

#theProfileTextContainer{
    text-align: center;
    width:60%;
    vertical-align:top;
    display:inline-block;
    font-family: inherit;

}

#photoChange{
    border-radius: 10px;
    background-color: #3ecf65;
    cursor:pointer;
}



.noImage{
    animation-name:BlurryImage;
    animation-duration: 1000ms;

}

.newImage{
    animation-name:ClearyImage;
    animation-duration: 1000ms;
    border: 5px solid;
}

#photoChange:hover{
    box-shadow: black;
    background-color: green;
}

#home{
    border: 1px solid;
    padding:14px;
    box-sizing: border-box;
}

.homeText{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.naving{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#aboutMe{
    border:solid 1px black;
    padding:25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height:400px;
    box-sizing:border-box;
}

#aboutMeDetails{
    width:40%;
    display:inline-block;
    margin-right:30px;
    vertical-align: top;
    box-sizing: border-box;
}

#aboutMePicture{
    border-radius: 10px;
    width:40%;
    display: inline-block;
    box-sizing: border-box;
}

#aboutMePictureButton{
    border-radius: 10px;
}

#aboutMePictureButton:hover{
    box-shadow: black;
    background-color: green;

}

#theAboutMePicture{
    border: 1px solid black;
    width:250px;

}

#theAboutMePicture:hover{
    animation-name:AboutImage;
    animation-duration: 2000ms;


}

#paragraphAboutMe{
    padding-left: 30px;
}



#socialMedia{
    border:solid 1px black;
    padding:15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
    box-sizing: border-box;
    height:200px;
}

.socmed{
    width:20px;
    align-items: end;
}

#socialMediaTable{
    text-align: right;
    float:right;
    align-items: right;
    
}

#skillSet{
    border:solid 1px black;
    padding:15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height:850px;
    box-sizing: border-box;
}

#theleftSkillSet{
    width:35%;
    border: 1px solid black;
    float:left;
}

#therightSkillSet{
    width:60%;
    border: 1px solid black;
    float:right;
    height:80%;
}



#therightSkillSetContainer{
    border:black 1px solid;
    padding:30px;
}

#healing{
    font-style: italic;
    font-size: larger;
}

.SkillBar{
    background-color: green;
    display:inline-block;
    width:90%;
    height:50px;
    margin:10px;
    vertical-align: middle;
    color: azure;
    padding-top:10px;
    padding-left:10px;
}

.SkillBar:hover{
    transform: scale(1.2) rotate(-3deg);

}

.SkillBar img{
    width:5%;
    border: 1px solid black;
}

.SkillBar span{
    width:20%;
    border: 1px solid black;

}

#fbadsicon{
    background-color: white;
}


#portfolio{
    border:solid 1px black;
   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height:500px;
    text-align: center;

}

#portfolio img{
    width:200px;
}


.thePortfolio{
    margin-left:5%;
    margin-right:10px;
    border:1px solid black;
    width:25%;
    height:200px;
    display:inline-block;
    float:left;

}

.thePortfolio:hover{
    font-size: larger;
    transform: scale(1.1);
}

img{
    border-radius: 15px;
}


.none{
    display:none;
}








@keyframes BlurryImage{
    0%{
        filter: blur(0px);
    }
    30%{
        filter: blur(15px);
    }
    50%{
        filter:blur(40px);
    }
    70%{
        filter:blur(70px);
    }
    90%{
        filter:blur(90px);
    }
    100%{
        filter:blur(100px);
    }
}

@keyframes ClearyImage{
    0%{
        filter: blur(100px);
    }
    30%{
        filter: blur(90px);
    }
    50%{
        filter:blur(70px);
    }
    70%{
        filter:blur(40px);
    }
    90%{
        filter:blur(20px);
    }
    100%{
        filter:blur(0px);
    }
}

@keyframes AboutImage{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }

}

@keyframes rotatelife{
    0%{
        transform:rotatey(0deg);
    }
    30%{
        transform:rotatey(45deg);
    }
    60%{
        transform:rotatey(90deg);
    }
    80%{
        transform:rotatey(45deg);
    }
    100%{
        transform:rotatey(0deg);
    }
}


@media (max-width:400px){
    #theNav{
        display:none;
    }

    #aboutMe{
        height:550px;
    }



    #aboutMeDetails{
        width:85%;
        font-size: small;
    }


    #aboutMePicture{
        width:85%;
    }

    #theProfileImageContainer{
        width:90%;
        align-items: center;
    }

    #theProfileTextContainer{
        text-align: center;
        align-items: center;
        width:90%;
    }

    #paragraphAboutMe{
        width:90%;
        align-items: center;
        overflow:scroll;
        height:100px;
        border:2px dashed black
        border-radius:5px;

    }

    #aboutMePicture button{
        align-items: center;
        text-align: center;
   
    }

    #aboutMePictureButton{
        align-items: center;
        text-align: center;
    }

    #theAboutMePicture{
        width:80%;
    }

    body{
        padding:1px;
    }

    #theleftSkillSet{
        width:100%;
        margin:0px;
    }

    #therightSkillSet{
        display:none;
    }

    #skillSet{
        padding:3px;
    }

    .SkillBar{
        width:70%;
    }

    #portfolio{
        height:700px;
    }

    .thePortfolio{
        width:75%;
        display:block;
    }

    #FBPort{
        display:none;
    }

    #socialMedia{
        text-align: center;
        padding:2px;
    }

    #socialMediaTable{
        text-align: center;
        float:none;

    }



}

@media(min-width:411px){
    #theNav{
        display:block;
    }






}



